
<legend>Registration Form 1</legend>
<form name='regForm' novalidate>

<input type="text" name="first_name" placeholder="Enter your first name"
    ng-model="reg.user.first_name"
    required>
    {{ reg.user.first_name }}
    <span
    ng-if="(regForm.first_name.$error.required) && regForm.first_name.$touched">
   First Name mandatory
    </span>

    <br>

    <input type="text" name="last_name" placeholder="Enter your last name"
    ng-model="reg.user.last_name"
    required
    minlength="4">
    {{ reg.user.last_name }}
    <span
    ng-if="(regForm.last_name.$error.required) && regForm.last_name.$touched">
    Last Name mandatory
    </span>

    <br>

<input type="email" name="email" placeholder="Email"
    ng-model="reg.user.email"
    required>
    {{ reg.user.email }}
    <span ng-if="regForm.email.$invalid && regForm.email.$touched">
    Must be a valid email address: handle@domain format
    </span>
    <br>

<input type="text" name="phone" placeholder="Phone ###-###-####"
    ng-model="reg.user.phone"
    pattern="(\d{3})-(\d{3})-(\d{4})">
    <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
    Phone must be in the format ###-###-####.
    </span>
    <br>

<input type="text" name="preference" placeholder="Enter your favorite menu"
    ng-model="reg.user.preference">
    Your prefered menu is {{ reg.user.preference }}

<br>

<button
    ng-disabled="regForm.$invalid"
    ng-click="reg.submit()">Submit</button>

    <div style="margin-top: 10px;">
    Form valid? {{ regForm.$valid }}
    </div>
</form>
